{% extends 'maintemplate.html' %}

{% block content %}
<div class="about-container">
    <h1>Honor Show</h1>
    <div class="about-content">
        <div class="about-image">
            <img src="{{media_url}}images/about/about_personal.jpg" alt="Personal Photo">
        </div>
        <div class="about-text">
            <p>I'm a computer engineering student at Kharazmi University. I love Django and I enjoy creating projects with this language. This project showcases my honors in my diploma. I use Django to build this project.</p>
            <h2>About This Project</h2>
            <p>I wrote this project on my own, and I plan to work on it and update it in the future.</p>
            <h2>Contact Information</h2>
            <p>Email: <a href="mailto:zavaryyashar009@gmail.com">zavaryyashar009@gmail.com</a></p>
            <p>Phone: <a href="tel:+989030212033">+98 9030212033</a></p>
            <p>LinkedIn: <a href="https://www.linkedin.com/in/yashar-zavary-rezaie/" target="_blank">Yashar Zavary Rezaie</a></p>
        </div>
    </div>
</div>
{% endblock %}
