{% extends 'maintemplate.html' %}

{% block content %}
  <h1 >My diploma's honor list:</h1>

  <table class="honor-table">
    <thead>
        <tr>
            <th>Link</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td><a href="{% url 'coming_soon' %}">galamchi</a></td>
            <td>First Honor Description</td>
        </tr>
        <tr>
            <td>2</td>
            <td><a href="{% url 'coming_soon' %}">kounkur</a></td>
            <td>Second Honor Description</td>
        </tr>
        <tr>
            <td>3</td>
            <td><a href="{% url 'coming_soon' %}">math_competition</a></td>
            <td>Third Honor Description</td>
        </tr>
        <tr>
            <td>4</td>
            <td><a href="{% url 'coming_soon' %}">sampad_exam</a></td>
            <td>Fourth Honor Description</td>
        </tr>   
        <tr>
            <td>5</td>
            <td><a href="{% url 'coming_soon' %}">sampad_exam2</a></td>
            <td>Fifth Honor Description</td>
        </tr>
        <tr>
            <td><a href="{% url 'all_in_one' %}">all honors picture</a></td>
        </tr>
    </tbody>
</table>



{% endblock %}

