
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navigation li {
    margin: 0 10px;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.navigation a:hover {
    text-decoration: underline;
}

/* Footer styles */
footer {
    background-color: #222;
    color: #ccc;
    padding: 20px 0;
    text-align: center;
    position:absolute;
    bottom:0;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-links ul,
.footer-social ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.footer-links a,
.footer-social a {
    color: #ccc;
    text-decoration: none;
    font-size: 16px;
}

.footer-links a:hover,
.footer-social a:hover {
    text-decoration: underline;
}

.footer-copyright {
    margin-top: 20px;
    font-size: 14px;
    color: #888;
}
