{% extends 'maintemplate.html' %}


{% block content %}
<div class="trophies-container">
    {% for trophy in trophies %}
    <div class="trophy-card">
        <img src="{{media_url}}images/honors/{{trophy.id}}/{{trophy.image_path}}" alt="{{ trophy.name }}">
        <div class="trophy-details">
            <h2>{{ trophy.name }}</h2>
            <p><strong>When:</strong> {{ trophy.where_get }}</p>
            <p>{{ trophy.desc }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
